#get_question
  -remote_form_for :question, :url => questions_path do |f|
    %p 接不到题，你先提问
    %p
      =image_tag(current_user.head, :class => "head") 
      = f.text_area :content, :rows => 2, :is_focus => true
      %span.quiet 请遵守游戏规则，无效问题、回答将被屏蔽
    %p
      = submit_tag '提交', :class => "button"
