#login
  - form_remote_tag :url => session_path do
    %p
      %label 用户名
      = text_field_tag 'login', params[:login]
    %p
      %label 密码
      = password_field_tag 'password'
    %p
      = submit_tag '登录', :class => "button"
    %p 或者
    = link_to "注册", signup_path, :class => "large", :rel => "facebox"
