.session
  a(href='/')= current_user.name
  a(href='/logout') 退出
- if (party)
  .partys
    p party已经创建，访问地址如下:
    p #{host}/#{party.id}
    a(href=party.id) 进入Party
- else
  .buttons
    form(method="post", action="/partys/new")
      input(type='submit', value='创建party')
