@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

h1, h2, h3, h4, h5, h6 {
  // Bold might not be the best choice if you are
  // embedding font faces that are already bold
  font-weight: bold;
}

strong, th {
  font-weight: bold;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


//-----------------------------------
// Add your own custom styles below
//-----------------------------------

.tip { color: #c7c7c7 }

#notice {
  border: 1px solid #1FDF00;
  background-color: #bbffb6;

  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;

  text-align:center;
  margin: 0 auto 15px;
  padding: 4px;

  display: none;
}

body {
  line-height: 1;
  background-color: #9CCB47;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 18px; }

#container {
  width: 790px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px; 
}

header {}

nav {
  width: 780px;
  height: 30px;
  margin: 0 auto;
  background: #9CCB47;
  .menu {
    font-size: 14px;
    font-weight: bold;
    ul {
      margin: 0;
      padding: 17px 0 0 20px;
      list-style: none;
      line-height: normal; }
    li {
      display: block;
      float: left; }
    a {
      display: block;
      float: left;
      margin-right: 5px;
      padding: 0px 15px;
      text-decoration: none;
      color: #FFF;
      &:hover {
        font-style: italic; } } } }

#main {
  width: 780px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #9CCB47;
  overflow: hidden;
  #flash .alert p {color: red;}
  #flash .notice p {color: green;}
  #content {
    float: left;
    width: 570px;
    .box {
      height: 480px;
      margin: 10px 0 10px 0;
      padding: 20px 0 0 20px;
      background-color: #fff;
      overflow-y: auto;
      /* curved border radius */
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      ul {
        margin: 0;
        list-style: none;
        line-height: normal; 
        li {
          margin-bottom: 5px;
        }}
    }
    #entry {
      input { padding: 5px; }
      #msg {
        border: 1px solid #fff;
        width: 504px; } }
  }
  aside {
    float: right;
    text-align: left;
    width: 190px;
    margin: 0;
    padding: 0;

    section {
      height: 520px;
      margin: 10px 0 0 0;
      padding: 10px 10px;
      background-color: #F5E9DF;
      overflow-y: auto;
      /* curved border radius */
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      ul {
        margin: 0 0 0 20px;
        color: #307437;}
      }
  }
}

footer {}
