%li{:id => "q#{my_question.id}"}
  =link_to my_question.user.login, manage_user_path(my_question.user), :target => '_blank'
  %span= h(my_question.content)
  %span.quiet{:title=>my_question.created_at.to_s(:db)}= time_ago_in_words(my_question.created_at)
  =link_to_remote '删除', :url => question_path(my_question), :method => :delete
