#newest.span-13
  %h4 大家刚说了......
  %ul#all.talk= render :partial => 'answered_question', :collection => @question_list
  #paginate
    =will_paginate @question_list
.span-6.last
  -if @user
    .box
      =link_to_remote "禁用#{@user.login}", :url => user_path(@user), :method => :delete
  .box
    %h4 大家刚问了......
    %ol#my_question= render :partial => 'my_question', :collection => @unanswer_question_list
