a {
  color: #0078a7;
  cursor: pointer; }

li {
  font-size: 1.2em; }

img.head {
  margin: 3px;
  padding: 1px;
  border: 1px #cccccc solid;
  float: left;
  width: 48px;
  height: 48px; }

#header {
  background: url(/images/header_background.png); }
  #header a {
    font-size: 1.2em;
    color: #ffffff; }
  #header #logo a {
    font-size: 3.2em;
    text-decoration: none;
    margin-left: 5px; }
  #header #navigation {
    margin-top: 22px; }
    #header #navigation ul {
      margin: 0px;
      padding: 0px;
      list-style: none;
      float: right; }
      #header #navigation ul li {
        float: left;
        color: #ffffff;
        padding: 5px; }

#footer p {
  margin: 30px; }
  #footer p span {
    margin: 20px; }
#footer a {
  font-size: 1.2em; }
  #footer a img {
    display: none; }
#footer ul {
  margin: 50px 270px;
  list-style: none; }
  #footer ul li {
    float: left;
    padding: 5px; }

#content h4 {
  border-bottom: 1px solid #cccccc;
  margin: 1.5em 0 0 0;
  padding-bottom: 0.5em; }
#content ul.talk {
  margin: 0px;
  padding: 0px;
  list-style: none;
  width: 100%; }
  #content ul.talk li {
    margin: 0px;
    padding: 5px 0;
    border-bottom: 1px solid #cccccc;
    width: 100%; }
  #content ul.talk li.even {
    background-color: #F5F5F5; }
#content .box li {
  margin: 3px 0 5px 0; }
  #content .box li div {
    margin-top: 2px; }
#content .box .tip li {
  padding: 5px; }
#content .btn_play {
  float: right; }

#register p, #login p, #get_question p {
  margin: 10px 0px; }
#register label, #login label, #get_question label {
  margin-right: 15px;
  width: 75px;
  float: left;
  text-align: right;
  font-size: 14px;
  font-weight: normal; }
#register input, #login input, #get_question input {
  border: 1px solid;
  border-color: #7c7c7c #c3c3c3 #dddddd #c3c3c3;
  width: 250px;
  height: 18px;
  color: #444444;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  padding: 3px 4px; }
#register span, #login span, #get_question span {
  display: block;
  margin-left: 70px;
  color: #666666; }
#register .button, #login .button, #get_question .button {
  height: 23px;
  padding: 0 1.5em;
  border: 1px solid;
  border-color: #66acff #094fa1 #094fa1 #66acff;
  background-color: #0078a7;
  color: #ffffff;
  letter-spacing: 0.3em;
  margin-left: 70px;
  cursor: pointer; }
#register .checkbox, #login .checkbox, #get_question .checkbox {
  width: 15px; }

#get_question span {
  display: inline;
  margin: 0px;
  color: #666666; }
#get_question textarea {
  height: 40px;
  width: 300px;
  overflow: hidden;
  margin-top: 4px;
  margin-bottom: 0; }
#get_question textarea.question {
  margin-left: 58px;
  margin-top: 2px;
  margin-bottom: 10px; }
#get_question #time_warning {
  margin-left: 58px;
  padding-bottom: 3px;
  display: none; }
#get_question #time_remain {
  color: red; }

.errorExplanation {
  border: 1px solid #FFCC66;
  background-color: #FFFFCC;
  margin: 0;
  padding: 0;
  margin-bottom: 5px; }

.warning {
  color: red; }
