a {
  color: #0078a7;
  cursor: pointer; }

li {
  font-size: 1.2em; }

img.head, img.current_head {
  margin: 3px;
  padding: 1px;
  border: 1px #cccccc solid;
  float: left;
  width: 48px;
  height: 48px; }

img.mini_head {
  margin: 3px;
  padding: 1px;
  border: 1px #cccccc solid;
  width: 32px;
  height: 32px; }

#header {
  background: url(/images/header_background.png); }
  #header a {
    font-size: 1.2em;
    color: #ffffff; }
  #header #logo a {
    font-size: 3.2em;
    text-decoration: none;
    margin-left: 5px; }
  #header #pop {
    margin-top: 28px; }
    #header #pop a {
      text-decoration: none;
      cursor: default; }
  #header #navigation {
    margin-top: 22px; }
    #header #navigation ul {
      margin: 0px;
      padding: 0px;
      list-style: none;
      float: right; }
      #header #navigation ul li {
        float: left;
        color: #ffffff;
        padding: 5px; }

#footer p {
  margin: 30px; }
  #footer p span {
    margin: 10px; }
#footer .send {
  background-color: #F5F5F5;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  display: block; }
#footer a {
  margin-right: 5px;
  font-size: 1.2em; }
  #footer a img {
    display: none; }
#footer ul {
  margin: 50px 270px;
  list-style: none; }
  #footer ul li {
    float: left;
    padding: 5px; }

#content h4 {
  border-bottom: 1px solid #cccccc;
  margin: 1.5em 0 0 0;
  padding-bottom: 0.5em; }
  #content h4 a {
    text-decoration: none; }
#content ul.talk {
  margin: 0px;
  padding: 0px;
  list-style: none;
  width: 100%; }
  #content ul.talk li {
    margin: 0px;
    padding: 5px 0;
    border-bottom: 1px solid #cccccc;
    width: 100%; }
  #content ul.talk li.even {
    background-color: #F5F5F5; }
#content #paginate {
  text-align: center;
  margin: 10px; }
  #content #paginate a {
    font-size: 18px; }
  #content #paginate span {
    font-size: 18px; }
#content .box {
  padding: 10px; }
  #content .box h4 {
    margin: 0; }
  #content .box li {
    margin: 3px 0 5px 0; }
    #content .box li div {
      margin-top: 2px; }
  #content .box .tip li {
    padding: 5px; }
#content ul#today_users, #content ul#msg_relate, #content ul.sidebar_users {
  list-style: none;
  margin: 0; }
  #content ul#today_users li,   #content ul#msg_relate li,   #content ul.sidebar_users li {
    float: left;
    margin: 0; }
#content .btn_play {
  float: right; }

#register p, #login p, #get_question p, #facebox_window p {
  margin: 10px 0px; }
#register label, #login label, #get_question label, #facebox_window label {
  margin-right: 15px;
  width: 75px;
  float: left;
  text-align: right;
  font-size: 14px;
  font-weight: normal; }
#register input, #login input, #get_question input, #facebox_window input {
  border: 1px solid;
  border-color: #7c7c7c #c3c3c3 #dddddd #c3c3c3;
  width: 250px;
  height: 18px;
  color: #444444;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  padding: 3px 4px; }
#register span, #login span, #get_question span, #facebox_window span {
  display: block;
  margin-left: 70px;
  color: #666666; }
#register .button, #login .button, #get_question .button, #facebox_window .button {
  height: 23px;
  padding: 0 1.5em;
  border: 1px solid;
  border-color: #66acff #094fa1 #094fa1 #66acff;
  background-color: #0078a7;
  color: #ffffff;
  letter-spacing: 0.3em;
  margin-left: 70px;
  cursor: pointer; }
#register .checkbox, #login .checkbox, #get_question .checkbox, #facebox_window .checkbox {
  width: 15px; }

#get_question span, #facebox_window span {
  display: inline;
  margin: 0px;
  color: #666666; }
#get_question textarea, #facebox_window textarea {
  height: 40px;
  width: 300px;
  overflow: hidden;
  margin-top: 4px;
  margin-bottom: 0; }
#get_question textarea.question, #facebox_window textarea.question {
  margin-left: 58px;
  margin-top: 2px;
  margin-bottom: 10px; }
#get_question #time_warning, #facebox_window #time_warning {
  margin-left: 58px;
  padding-bottom: 3px;
  display: none; }
#get_question #time_remain, #facebox_window #time_remain {
  color: red; }
#get_question .tip, #facebox_window .tip {
  margin-left: 58px; }

#facebox_window .button {
  width: 110px;
  margin-left: 45px; }

.errorExplanation {
  border: 1px solid #FFCC66;
  background-color: #FFFFCC;
  margin: 0;
  padding: 0;
  margin-bottom: 5px; }

.warning {
  color: red; }

.split {
  height: 20px; }

.clearfix {
  width: 100%; }

div.tooltip {
  background-color: #0078a7;
  outline: 1px solid #669;
  border: 2px solid #fff;
  padding: 10px 15px;
  width: 200px;
  display: none;
  color: #fff;
  text-align: left;
  font-size: 12px;
  outline-radius: 4px;
  -moz-outline-radius: 4px;
  -webkit-outline-radius: 4px; }
  div.tooltip a {
    color: #ffffff; }

#user_score {
  font-weight: bold; }

.digg {
  float: right; }

.shareit {
  margin-left: 60px; }
  .shareit span {
    font-size: 14px;
    color: #cccccc; }
