body {
  width: 600px;
  margin: 0px auto;}

#main {
  text-align: left;
  margin: 5px;}
#main .box {
  height: 460px;
  background-color: white;}
#main .box ul {
  list-style: none;}
#main #message {
  margin: 5px 0;
  width: 100%;
  border: none;
  height: 18px;}
