#main{margin:5px;}
#main .session{text-align:right;}
#main .session a{margin:5px}
#main #box{text-align:left;background-color:#fff;}
#main #box ul{list-style:none}
#main #message{margin:5px 0;width:100%;border:none;height:24px;line-height:24px;padding:3px 0;font-size:18px}
@media all and (min-width:800px){body{width:800px;margin:0 auto}
}