#main
  margin 5px
  .session
    text-align right
    a
      margin 5px
  #box
    background-color white
    ul
      list-style none
  #message
    margin 5px 0
    width 100%
    border none
    height 24px
    line-height 24px
    padding 3px 0
    font-size 18px

@media all and (min-width:800px)
  body
    width 800px
    margin 0px auto
