body{margin:0 auto}
#main{text-align:left;margin:5px;}
#main #box{background-color:#fff;}
#main #box ul{list-style:none}
#main #message{margin:5px 0;width:100%;border:none;height:24px;line-height:24px;padding:3px 0;font-size:18px}
@media all and (min-width:800px){body{width:800px}
}