%p.flash.notice=flash[:notice]
= link_to "已经注册？ 点击这里登录", new_session_path, :class => :large, :rel => "facebox"
.clearfix
= link_to "申请帐号解禁?", "http://www.douban.com/group/topic/6130670/", :class => :large, :target=>"_blank"
