%li{:class => cycle_from_params, :last_id => answer.id}
  %div.clearfix
    =link_to image_tag(answer.question.user.head, :class => "head"), answer.question.user, :target => '_blank'
    =link_to answer.question.user.login, answer.question.user, :target => '_blank'
    %span= h(answer.question.content)
    .digg=link_to_remote populate_num(answer), {:url => question_path(answer.question), :method => :put, :after => "populate(this)"}, :title => "喜欢、囧，顶一下表示支持..."
  %div.clearfix
    =link_to image_tag(answer.user.head, :class => "head"), answer.user, :target => '_blank'
    =link_to answer.user.login, answer.user, :target => '_blank'
    %span= h(answer.content)
  .shareit= render :partial => 'home/shareit', :locals => { :path => question_url(answer.question), :title => "经典真心话##{answer.question.id}"}
