%h4 小提示
%ul
  %li 接到的问题是随机的，提问后不一定立即有人回答，请耐心等侍
  %li 鼠标移至用户头像，可以给TA发消息，或者加TA为好友
  %li 看到喜欢(囧)的提问或回答，可以点击"=>顶<="支持
  %li 
    %span 有建议或问题点这
    %span=link_to "豆瓣反馈贴", "http://www.douban.com/group/topic/6130670/?start=400", :target=>"_blank"
    %span=link_to "贴吧反馈贴", "http://tieba.baidu.com/f?kz=569207755", :target=>"_blank"
