#content
  #chats.box
    %ul

  #notice 请回答ben的提问:你最喜欢哪个明星?
  #entry
    =text_field_tag :msg, nil
    =button_to_function '提交', 'Msg.send()', :id => :send_btn

%aside
  %section
    %h2 在线用户
    %ul
      -@online.each do |user|
        %li=user.name

=content_for :javascripts do
  =javascript_include_tag 'home'
