#newest.span-13
  = link_to "我敢玩", new_answer_path, :id => "play", :class => "btn_play strong large", :rel => "facebox"
  - if logged_in?
    %h4{:title => '这里显示其他人对你说的真心话(最近2条，点击可查看更多)'}=link_to "他们告诉你......", current_user
    %ul.talk= render :partial => 'answered_question', :collection => @user_answered_question_list
  %h4 大家刚说了......
  %ul#all.talk= render :partial => 'answered_question', :collection => @question_list
  #paginate
    =will_paginate @question_list

.span-6.last
  .box
    - if logged_in?
      .clearfix
        %h4{:title => '你可以上传一张图片'}  给自己定制头像
        =image_tag(current_user.head, :class => "head")
        %span.quiet 最大上传2M图片
        =error_messages_for :user
        - form_for current_user, :html => { :multipart => true } do |f|
          =f.file_field :photo, :size => 1
          =submit_tag '提交', :class => "button", :id => "photo_commit", :name => "photo_commit"
      %p.clearfix
        %h4{:title => '你问的内容还没有被回答时就显示在这里'} 你问了......
        %ol#my_question= render :partial => 'my_question', :collection => @user_unanswer_question_list
    - else
      %h4 怎么玩真心话游戏
      %ul
        %span 规则：
        %li 小李问了一个问题
        %li 另一个人要如实回答
        %li 然后他再问一个新问题
        %li 下个人回答时提出新问题
      %ul
        %span 举个例子：
        %li 小李问：你晚上一个人走在街上怕不怕的？
        %li 另一个人回答:不怕的。
        %li 然后他再问:你现在最想的是谁？
        %li 下个人回答时提出新问题
  .box
    %p.clearfix
      %h4 小提示
      %ul
        %li 点击用户头像或昵称，看TA的真心话
        %li 
          %span 有建议或问题点这
          %span=link_to "豆瓣反馈贴", "http://www.douban.com/group/topic/6130670/", :target=>"_blank"
          %span=link_to "贴吧反馈贴", "http://tieba.baidu.com/f?kz=569207755", :target=>"_blank"
-unless params[:page] && params[:page] != '1'
  :javascript
    //get new question
    j('#all').everyTime(4000, function(){
      var current_li = j('li:first',j('#all'));
      var updated_at = current_li.attr('updated_at')
      var odd = current_li.attr('class') == 'even' ? 'odd':'even';
      var url = '/questions/' + updated_at + '?cycle=' + odd;
      j.getScript(url);
    });
