#content
  #chats.box
    %ul

  #entry
    =text_field_tag :msg, nil
    =button_to_function '提交', 'send()', :id => :send_btn

%aside
  %section
    %h2 在线用户
    %ul
      -@online.each do |user|
        %li=user.name

=content_for :javascripts do
  :javascript
    var jug = new Juggernaut();

    var show = function(data){
      var li = $("<li />");
      var name = data['name'];
      var time = data['time'];
      var msg = data['msg'];
      var text = '';
      if(name) text = name + ':';
      text += msg;
      if(time) text = text + ' <span class="tip">' + time + '</span>';
      li.html(text);
      $("#chats > ul").append(li);
    };

    jug.on("connect", function(){ show({msg:"已连接服务器."}) });
    jug.on("disconnect", function(){ show({msg:"已与服务器断开连接."}) });
    //jug.on("reconnect", function(){ show("Reconnecting") });

    jug.subscribe("chat", function(data){
      show(data);
    });

    $('#entry :text').keypress(function(e){
      if(e.which == 13){
        send();
      }
    });

    function send(){
      var text = $("#entry > :text");
      var msg = text.val();
      if (msg != ''){ 
        $.post('/publish', {msg: msg});
      }
      text.focus().val('');
    };

    $('#msg').focus();
