#content
  #chats.box
    %ul

  输入以#号开头的内容即可提问，并将随机抽取在线用户回答.
  #notice
  #entry
    =text_field_tag :msg, nil
    =button_to_function '提交', 'Msg.send()', :id => :send_btn

%aside
  %section
    %h2 在线用户
    .tip 10分钟内有提问回答等操作
    %ul
      -@online.each do |user|
        %li=user.name

=content_for :javascripts do
  =javascript_include_tag 'home'
