#register
  .span-13
    %h4 找回密码

    - form_for :user, :url => password_reminders_path do |f|
      %p
        %label 输入你的Email:
        = f.text_field :email
      %p
        = submit_tag '发送', :class => "button"

  .span-6.last
    .box
      %p 系统会向你的Email发送邮件，请查收