%small.copyright
  Copyright &copy; #{Date.today.year} 
  =link_to '55true.com', root_path
  all rights reserved.

  本站程序基于ruby on rails开发，代码开源于
  =link_to 'github.com', 'http://github.com/saberma/55true', :target => :_blank
