!!! Strict

%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title=@title
    =stylesheet_link_tag "blueprint/screen"
    / [if IE]
      =stylesheet_link_tag "blueprint/ie"
    =stylesheet_link_tag "facebox", "default" 
    =javascript_include_tag "prototype", "effects", "jquery", "jquery-ui", "jquery.timers", "facebox", "application" 

  %body
    .container
      #header.span-19
        #logo.span-4
          %a{:href=>'/',:title=>'返回真心话首页'} 真心话
        #pop.span-11
          %a 人多更好玩！召集朋友们来吧！http://www.55true.com
        #navigation.span-4.last
          %ul
            -if logged_in?
              %li==欢迎,#{h current_user.login}!
              %li=link_to "退出", logout_path
            -else
              %li=link_to "登录", login_path, :rel => "facebox"
      #content.span-19
        -flash.each do |key, msg|
          =content_tag :p, msg, :class => "flash #{key}"
        =yield
      #footer.span-19.clearfix
        -if logged_in?
          %p 
            %p 真心话网还很小！需要你的支持！复制以下内容发给你的朋友或论坛吧:)
            %span.send 真心话网 你敢玩吗 http://www.55true.com
        %p
          %span 有好建议或问题?，请联系：
          %span=link_to "豆瓣反馈贴", "http://www.douban.com/group/topic/6130670/", :target=>"_blank"
          %span=link_to "贴吧反馈贴", "http://tieba.baidu.com/f?kz=569207755", :target=>"_blank"
          %span Email:mahb45 at gmail.com
        %p
          %span 友情链接:
          =link_to "找网站精选网址", "http://www.zhaoip.com", :target=>"_blank"
          =link_to "第一摘网站目录", "http://www.dzhai.com/?id=19653", :target=>"_blank", :title=>"第一摘网站目录-免费收录各类优秀网站的中文网站目录"
          =link_to "洋葱新闻网", "http://www.faners.com", :target=>"_blank"
          =link_to "念嘬娱乐", "http://www.nianzuo.com", :target=>"_blank"
          =link_to "danla", "http://www.danla.com", :target=>"_blank"
          =link_to "LiDuan", "http://www.liduan.cn", :target=>"_blank"
        - if production?
          =javascript_include_tag "http://js.users.51.la/2771507.js"
          %noscript
            %a{:href=>"http://www.51.la/?2771507", :target=>"_blank"}
              %img{:alt=>"&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;", :src=>"http://img.users.51.la/2771507.asp", :style=>"border:none"}

      
      - if development?
        .span-19=render :partial=>'shared/debug'
    
    :javascript
      j('a[rel*=facebox]').facebox();
